FORMAT: 1A
HOST: https://api.siigo.com

# Siigo API
Siigo API te permite integrar cualquiera de tus aplicaciones a Siigo Nube para automatizar todo tu ciclo de venta e información contable.

Tendrás acceso a los siguientes recursos:

| Recurso                   | Endpoint               | Descripción
|---------------------------|------------------------|-------------------------------------------
| Productos o servicios     | /products              | Crear, consultar, actualizar y borrar productos.|
| Clientes                  | /customers             | Crear, consultar y actualizar clientes / terceros.|
| Cotizaciones              | /quotations            | Crear, consultar, actualizar y borrar cotizaciones. |
| Facturas de venta         | /invoices              | Crear, editar, enviar por mail, anular, borrar o consultar una o todas las facturas de venta y consultar el PDF de una factura|
| Facturas de Compra        | /purchases             | Crear, editar, eliminar y consultar una o todas las facturas de compra |
| Notas crédito             | /credit-notes          | Crear, consultar una o todas las notas crédito y consultar el PDF de una nota crédito|
| Recibos de caja           | /vouchers              | Crear y consultar una o todos los recibos de caja.|
| Recibos de pago/egreso    | /payment-receipts      | Crear , editar, eliminar y consultar uno o todos los recibos de pago/egreso.|
| Comprobantes contables    | /journals              | Crear y consultar una o todos los Comprobantes Contables|
| Reportes financieros y contables | El endpoint depende del reporte  | Consultar reportes de balance de prueba, balance de prueba por tercero y reporte cuentas por pagar.|
| Documento soporte         | /purchase-support-documents | Crear, editar, eliminar, consultar los documentos soporte. |


# Novedades

## Ajustes normativos en la facuración del sector salud de la resolución 948

Debido a ajustes normativos del sector salud en Siigo Nube y API, se realizaron ajustes en las facturas y notas crédito para cumplir con la nueva normativa. 
Entre los ajustes encontraras las siguientes novedades:
 1- Ajuste en los campos de contract_number, service_plan y payment_method.
 2- Manejo del campo CUCON para incluirlo en cada tercero.
 3- Nuevo campo de factura sin contrato - nonContractInvoiceReason
 
 Encuentra mayor información de las peticiones en la sección <a href="https://siigoapi.docs.apiary.io/#reference/facturas-de-venta">**Factura de venta**</a>.

Los cambios en facturas de venta estara listo para el  01 de Julio del 2026,  los cambios en notas crédito se espera confirmación de fecha de despliegue.

## Ajustes en los recibos de caja

Debido a ajustes realizados en Siigo Nube en los recibos de caja, se ajustaron los request de los recibos de caja en Siigo API. 
Entre los ajustes encontraras las siguientes novedades: 

 1- Se elimina el tipo de recibo de caja avanzado (Detailed)
 2- En el recibo de caja de abono a una deuda se incluyen impuestos y descuentos aplicados al vencimiento para realizar ajustes al saldo. Estos descuentos se pueden consultar en el nuevo endpoint  de /expenses
 3- Se agrega un nuevo tipo de recibo de caja para otros ingresos llamado MiscIncome para relacionar ingresos de otros conceptos, estos conceptos se crean desde Siigo Nube y se pueden consultar en el nuevo endpoint de /misc-income


Encuentra mayor información de las peticiones en la sección <a href="https://siigoapi.docs.apiary.io/#reference/recibos-de-caja">**Recibo de caja**</a>.


## Nuevo documento: Documento soporte

Ahora podrás crear, editar, consultar o borrar documentos soportes en Siigo API.

Encuentra mayor información en nuestra sección <a href="https://siigoapi.docs.apiary.io/#reference/documento-soporte-o-gasto">**Documento soporte**</a>.


## Nuevo documento: Cotización

Ahora podrás crear y editar, consultar o borrar cotizaciones en Siigo API.

Encuentra mayor información en nuestra sección <a href="https://siigoapi.docs.apiary.io/#reference/cotizaciones">**Cotizaciones**</a>.

## Creación de Categorías de Inventarios y Productos de tipo "Combo"

Ahora podrás crear y editar categorías de inventarios en Siigo API.

Encuentra mayor información en nuestra sección <a href="https://siigoapi.docs.apiary.io/#reference/categorias-de-inventario">**Categorías de inventario**</a>.

De igual manera, si eres usuario del plan Siigo Nube Premium podrás crear y editar productos de tipo "Combo" en Siigo API.

Encuentra mayor información en nuestra sección <a href="https://siigoapi.docs.apiary.io/#reference/productos">**Productos**</a>.

## Cambios en la creación de Facturas de Venta y Notas crédito del Sector de Salud

**Estos cambios se aplicarán a partir del 22 de Julio de 2025**

Se añade un nuevo campo para enviar el tipo de operación de salud que se está facturando, el campo llamado "operation_type" dentro del objeto "healthcare_company" se vuelve obligatorio si el tipo de factura de venta está marcada para uso del sector salud y puede tener los valores "SS-Recaudo", "SS-SinAporte" y "SS-CUFE".

Encuentra todo el detalle para crear facturas de venta de este tipo en nuestra sección <a href="https://siigoapi.docs.apiary.io/#reference/facturas-de-venta/crear-factura/crear-factura">**Crear Factura de venta**</a> y para notas crédito en <a href="https://siigoapi.docs.apiary.io/#reference/notas-credito/crear-nota-credito/crear-nota-credito">**Crear Nota Crédito**</a>.

## Nuevo endpoint de creación de Facturas de Venta en lote

Ahora podrás crear facturas en lote de forma asíncrona con Siigo API.

Encuentra mayor información en nuestra sección <a href="https://siigoapi.docs.apiary.io/#reference/facturas-de-venta/crear-lote-de-facturas-de-venta/crear-lote-de-facturas-de-venta">**Crear Lote de Facturas de venta**</a>.

## Nuevo endpoint de recibos de pago/egreso

Ahora podrás crear, editar, consultar y eliminar recibos de pago/egreso. 
Encuentra mayor información en nuestra sección <a href="https://siigoapi.docs.apiary.io/#reference/recibos-de-pago-o-egreso/crear-recibo-de-pago-o-egreso/crear-recibo-de-pago-o-egreso">**Crear Recibo de pago o egreso**</a>.



# Códigos de estado HTTP

| Código | Mensaje                | Descripción
|------|------------------------|-------------------------------------------
| 200  | OK                     | La solicitud ha tenido éxito.|
| 201  | Created                | La solicitud ha tenido éxito y se ha creado un nuevo recurso como resultado de ello.|
| 400  | Bad Request            | Existe un problema en el lado del cliente, a menudo debido a que falta un parámetro obligatorio.|
| 401  | Unauthorized           | No se ha proporcionado ningún access_token válido.|
| 403  | Forbidden              | El usuario asociado con el access_token no tiene permisos para realizar la solicitud.|
| 404  | Not Found              | El recurso solicitado no existe.|
| 408  | Request Timeout        | Siigo API no logró completar la solicitud dentro del tiempo que estaba preparado para esperar.|
| 409  | Conflict               | Solicitud HTTP válida, pero se está intentando poner los recursos del servidor en un estado imposible o inconsistente.|
| 415  | Unsupported media type | Se envió un media type no soportado. El servidor podría haber estado esperando JSON y el cliente envió XML.|
| 429  | Too Many Requests      | Se han enviado demasiadas solicitudes en un corto periodo de tiempo ("rate limiting") Puedes enviar hasta 100 peticiones por minuto como máximo.|
| 500  | Internal Server Error  | Error no controlado durante el proceso de la solicitud.| 
| 503  | Service Unavailable    | Siigo API actualmente no está disponible debido a una sobrecarga temporal o mantenimiento programado.|
| 504  | Timed Out              | Siigo API no ha podido responder en los tiempos requeridos debido a una sobrecarga temporal.|

# Manejo de errores

Los errores en Siigo API tienen la siguiente estructura:

```json
{
    "Status": 400,
    "Errors": [
        {
            "Code": "parameter_required",
            "Message": "The field code is required",
            "Params": [
                "code"
            ],
            "Detail": "Check the API documentation: [url_to_documentation]"
        }
    ]
}
```

- **Status**: Siigo utiliza códigos de respuesta HTTP para indicar el éxito o fracaso de una solicitud de API.
- **Code**: Para algunos errores que podrían manejarse mediante programación, se muestra una cadena corta que indica el código de error.
- **Message**: Mensaje con la explicación del error.
- **Param**: Si el error es específico del parámetro, el parámetro relacionado con el error.
- **Detail**: Mensaje que proporciona más detalles acerca del error.

# Límite de solicitudes

Es importante tener en cuenta en el momento de construir tu integración, que puedes enviar como máximo 100 peticiones por minuto a Siigo API por cada empresa de Siigo Nube.

# Tiempos de respuesta

Los tiempos de respuesta de Siigo API en promedio se encuentran por debajo de los 2 segundos, sin embargo, recomendamos establecer tiempos de espera de 120 segundos o más, antes de romper la conexión o cancelar un request, especialmente en creaciones de comprobantes como facturas de venta, notas crédito, recibos de caja y/o comprobantes contables ya que en picos altos de uso algunas transacciones podrían tardar más de lo esperado.

# Partner-Id

Para nosotros es muy importante conocer tu integración para poder brindarte un mejor acompañamiento, monitoreo y soporte.

En todos los request que envíes a Siigo API debes enviar un Header llamado Partner-Id, en el "value" de este header se debe enviar  el nombre del software/aplicación que estás integrando con Siigo Nube, este debe tener entre 3 y 100 caracteres alfanuméricos, sin espacios en blanco ni caracteres especiales.

Por ejemplo, si tienes una integración propia, deberás enviar el nombre de la aplicación integrada; si eres un tercero que realiza las integraciones para otras empresas, debes colocar el nombre de tu empresa o la aplicación que se está integrando.

Si estás construyendo una integración para más de una empresa en Siigo Nube, debes enviar el mismo value para todas las empresas. Siigo estará monitoreando continuamente esta información y bloqueará a usuarios API que no estén enviando información real en este header.

# Idempotencia 

Siigo API admite la propiedad de idempotencia para reintentar solicitudes de forma segura sin tener problemas de duplicidad en peticiones tipo **POST**  de comprobantes como:
 
- Facturas de venta:  https://api.siigo.com/v1/invoices
- Notas crédito : https://api.siigo.com/v1/credit-notes
- Comprobantes contables: https://api.siigo.com/v1/journals
- Recibos de caja: https://api.siigo.com/v1/vouchers

Para esto se debe enviar un header llamado "Idempotency-Key", en el cual se debe enviar un identificador único para cada uno de los comprobantes que quiera crear en Siigo Nube. 
Con este Idempotency-Key puede realizar reintentos de manera segura sin riesgo de crear un nuevo comprobante, ya que si envia el mismo Idempotency-Key y el documento ya se encuentra creado, Siigo API retornará la información del comprobante creado previamente.

**Caracteristicas del campo:** Opcional, alfanumérico, sin caracteres especiales, sin espacios en blanco, máximo 30 caracteres.

No envÍe el header Idempotency-Key en peticiones tipo GET, PUT O DELETE. Debido a que no tendrian ningun efecto.

# Bloqueo de usuarios

Se bloqueará de manera temporal tu usuario de Siigo API si realizas un uso incorrecto de nuestro servicio, si durante 7 días la proporción de errores enviados supera el 80% del total de requests que envías a Siigo API, serás notificado por mail con el bloqueo temporal de tu usuario y el bloqueo será hasta que hagas las correcciones correspondientes, en dicho proceso podemos acompañarte y asesorarte. 

# Códigos de error

A continuación se muestra la lista de posibles códigos de error con información adicional sobre cómo resolverlos.

## `already_exists`
Este error ocurre cuando se intenta crear un registro ya existente en Siigo Nube. 

Usa un valor diferente y único para el id o código e intenta nuevamente.

## `disabled_functionality`
Este error ocurre cuando la funcionalidad esta temporalmente inhabilitada.

## `company_settings`
Este error ocurre cuando se se envía algún parámetro que no está configurado en tu organización.

Puedes validar en el menú *Configuración* `>` *Más Configuraciones* `>` *Organización* `>` *Perfil de la organización* la configuración de Moneda extrajera y Datos tributarios.

## `customer_settings`
Este error ocurre cuando se quiere crear un documento y el tercero relacionado NO tiene creados contactos en su perfil, se debe garantizar que existan los contactos, bien sea en Siigo Nube o a través de Siigo API en el endpoint de customers.

## `delete_not_allowed`
El recurso no se puede eliminar porque tiene movimientos o transacciones relacionadas.

## `blocked_transactions`
La fecha de creación del documento es menor o igual al bloqueo de transacciones en Siigo Nube, por favor revisar esta configuración un usuario administrador por la ruta: *Configuración* `>` *Transacciones* `>` *Procesos* `>` *Bloqueo por fecha para transacciones*

## `disabled_functionality`
Se está intentando enviar una petición a una funcionalidad que se encuentra inhabilitada de forma temporal o permanente.

## `documents_service`
El servicio de documentos no esta disponible, intente en unos minutos.

## `document_settings`
Este error ocurre cuando se envía algún parámetro que no está configurado en el comprobante.

Verifica la configuración de los siguientes parámetros de Factura de Venta en el menú *Configuración* `>` *Transacciones* `>` *Facturas* `>` Elige el tipo de factura

* Vendedor por ítem
* Centro de costos
* Numeración automática
* Descuentos por valor o porcentaje
* Decimales

Más información en: https://siigonube.portaldeclientes.siigo.com/basedeconocimiento/configuracion-factura-de-venta/

## `duplicated_document`
El documento ya existe, por favor valide la información, para prevenir la generación de documentos duplicados utilice el header “Idempotency-Key” para identificar los documentos, encuentre más información en:  https://siigoapi.docs.apiary.io/#introduction/idempotencia.


## `header_required`

No se está enviando una cabecera que es requerida en las peticiones, revisa que se esté enviando la cabecera "Partner-Id" con el nombre de la aplicación que estás integrando en el value, encuentra más información de esta cabecera <a href="https://siigoapi.docs.apiary.io/#introduction/partner-id">aquí</a> .

## `invalid_array`
Este error ocurre cuando se envía un array con valores inválidos.

* **Contacts:** Este error ocurre al exceder la cantidad máxima de contactos, puedes crear hasta 10 contactos por cliente.
* **Name:** Debes verificar los siguientes escenarios:
        
    Si estás creando un cliente tipo 'Person'
        
        {
            "name": [
                "Marcos",
                "Castillo"
            ],
        }
    
    Si estás creando un cliente tipo 'Company'
        
        {
            "name": [
                "Stark Industries"
            ],
        }
            
* **Payments:** Este error ocurre al envíar formas de pago inválidas, debes consultar las formas de pago válidas y verificar si son de tipo cartera: Si ingresa dinero o proveedor: En caso de compras.
* **Prices:** Este error ocurre al exceder la cantidad máxima de Listas de precio, puedes crear hasta 12 Listas de precio por producto.
* **Retentions:** De acuerdo a la configuración del comprobante en el menú *Configuración* `>` *Transacciones* `>` *Facturas*, sección Datos tributarios, puedes utilizar los siguientes tipos de retenciones:

    ReteIVA: Se aplica sobre el valor del IVA facturado.

    ReteICA: Se aplica sobre el subtotal de la factura.

    Autorretención: Se aplica si el subtotal de la factura es mayor al tope mínimo configurado.
* **Taxes:** Este error ocurre:
    
    `-` Si envías más de la cantidad de impuestos permitidos, puedes enviar hasta 3 impuestos.
    
    `-` Si envías Iva y Ad Valorem en el mismo producto de una factura.
    
    `-` Si envías un mismo tipo de impuesto más de una vez.
    
    `-` Si envías un reteIVA o reteICA en los items de factura.
* **Items:** Este error ocurre:
    
     `-`En recibo de caja si envías items en un Anticipo o en un Abono a deuda el mismo vencimiento más de una vez.
     
     `-`En factura de venta y notas crédito si envías más de 500 items 

## `invalid_amount`
El valor especificado no es válido. El monto debe ser un número positivo en la unidad monetaria correspondiente y no exceder el monto mínimo o máximo (99,999,999,999.99).

**Consideraciones**

El total de `payments` debe coincidir con el total de la factura, el valor máximo es máximo (9,999,999,999,999.99).

El valor de `advance_payment` debe ser mayor al subtotal de la factura.

El campo de `price` permite hasta 6 decimales.

Los demás campos como `advance_payment` y `discount` permiten hasta 2 decimales.

No puede enviar un valor mayor al valor del saldo de la "cuota".

## `invalid_code`
El código no puede tener comillas simples (') ni espacios.

Expresión regular: `^[^'\s]+$`

## `invalid_cost_center`
Por favor verifica el identificador del centro de costos. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/centros-de-costo/centros-de-costo">/cost-centers</a>

## `invalid_currency`
No es necesario que envíes este campo si estás manejando la moneda local.

En nota crédito debe coincider la moneda de la factura de venta.

## `invalid_date`
Estás enviando una fecha inválida, para facturas de venta electrónicas no puedes enviar una fecha inferior a la fecha actual.
Tambien verifica los formatos válidos para las fechas:

Date: `yyyy-MM-dd`

Date and time in UTC: `yyyy-MM-ddTHH:mm:ssZ`

Para creación o edición de Facturas de venta o Notas crédito de tipo electrónico, NO puedes enviar una fecha anterior a la fecha actual.

## `invalid_description`
Estás enviando una descripción inválida.

Expresión regular: `@"^$|^[\w\.@-\\%_;()\]#?¡[/:{ } *+,$&quot;\sñáéíóúÁÉÍÓÚüÜ\-&quot;]+$"`

## `invalid_document`
El `id` del tipo de comprobante no corresponde al que estás creando. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/tipos-de-comprobante">**/document-types**</a>

En Nota Crédito, debes verificar que `invoice` sea del mismo `electronic_type`.
Si se está usando un tipo de comprobante con marcación `electronica` en su definición, esta debe estar `enviada` ante la DIAN si se desea aplicar nota crédito. 

## `invalid_dian_resolution`
La resolución electrónica del documento ha superado el rango de fecha y/o número de consecutivo. Por favor, cambia de tipo de documento o realiza el ajuste pertinente en Siigo Nube.

## `invalid_email` 
La dirección de correo electrónico no es válida, 
verifica que la dirección de correo electrónico tenga el formato correcto.

Expresión regular: `^([-+.]*\w)+[-+.]*@([\w-]+\.)+[\w-]{2,}$`

## `invalid_identification`
Estás enviando una identificación inválida.

Expresión regular: `@"^[\d\w]{1}[\d\w\-]+[\d\w]{1}$"`

## `invalid_idempotency-key`
Estás enviando un idempotency-key inválido, este header es alfanumérico, sin caracteres especiales y de máximo 32 caracteres.

## `invalid_name`
Estás enviando un nombre inválido.

Expresión regular: `@"^[\w\.@-\\%_;()\]#?¡[/:{ } *+,$&quot;\sñáéíóúÁÉÍÓÚüÜ\-&quot;]+$"`

## `invalid_payment`
El error sucede si: 
si envías una forma de pago inválida para el tipo de comprobante (Factura de Venta, Nota Crédito, Recibo de Caja).
se envía payment en un recibo de caja avanzado.

## `invalid_partner_id`

Estas enviando el header Partner-Id con un formato inválido, en este header no se aceptan caracteres especiales, espacios en blanco y debe contener entre 3 y 100 caracteres.

## `payment_types_service`
El servicio no está disponible por el momento. inténtalo en unos minutos.

## `invalid_range`
El campo solo permite un valor entre los rangos indicados.

En generación de reportes de balance de prueba general o balance de prueba por tercero: se da cuando se envía un valor que no está entre 1 y 13 en los parámetros "month_start" o "month_end"

## `invalid_reference`
Este error ocurre cuando envías un id o código que no existe. Verifica los <a href="https://siigoapi.docs.apiary.io/#reference/catalogos">Catálogos.</a>

En generación de reportes de balance de prueba general o balance de prueba por tercero: se da cuando se envía una cuenta contable inexistente en alguno de los parametros "account_start" o "account_end"
## `invalid_total_payments`

El sistema valida que el valor total pagado *(suma de payments[i].value)* coincida con el total de la factura (suma de los totales de los ítems).

El total por ítem se calcula así:

```
    ValorBase = Redondear(Cantidad * ValorUnitario - Descuento, 2)
    IVA = Redondear((baseValue * PorcentajeIVA)/100, 2)
    TotalItem = Redondear(ValorBase + IVA, 2)
```    

*Ejemplo:*
```    
    Cantidad = 10
    ValorUnitario = 100.00
    Descuento = 50.00
    
    ValorBase = Redondear(10 * 100.00 - 50.00, 2) = 950.00
    
    IVA = Redondear((950.00 * 19)/100, 2) = 180.50
    TotalItem = Redondear(950.00 + 180.50, 2) = 1130.50
```

## `invalid_retentions`
De acuerdo a la configuración del comprobante en el menú *Configuración* `>` *Transacciones* `>` *Facturas*, sección Datos tributarios, puedes utilizar los siguientes tipos de retenciones:

ReteIVA: Se aplica sobre el valor del IVA facturado.

ReteICA: Se aplica sobre el subtotal de la factura.

Autorretención: Se aplica si el subtotal de la factura es mayor al tope mínimo configurado.

## `invalid_type`
El tipo de dato enviado es inválido.

## `invalid_url`
La URL proporcionada no es válida.
Verifica que la URL esté formateada correctamente.

## `update_not_allowed`
No se puede actualizar el grupo de inventarios del producto, debido a que ya tiene movimientos.

## `invalid_value`
El valor especificado no es válido. (Cantidades, Consecutivos y Cuotas)

## `length_max`
Verifica que no superas la longitud máxima del campo indicada en el mensaje del error.

## `length_min`
Verifica la longitud mínima del campo indicada en el mensaje del error.

## `not_found`
Recurso no encontrado.


## `parameter_empty`
Se utiliza para los campos unit y fiscal responsabilities, debes verificar que envías un valor válido.
Si no se envía se asigna el valor por defecto.

## `parameter_inactive`
El parámetro que estás utilizando está inactivo. Usa un parámetro diferente o activa el parámetro actual nuevamente.

Usuarios: Puedes validar en en Siigo Nube en el menú lateral: *Reportes* `>` *Más reportes* `>` *Usuarios* `>` *Administración de usuarios*

Formas de Pago: Puedes validar en en Siigo Nube en el menú lateral: *Configuración* `>` *Transacciones* `>` *Catálogos* `>` *Formas de Pago*

Impuestos: Puedes validar en Siigo Nube en el menú lateral: *Configuración* `>` *Transacciones* `>` *Catálogos* `>` *Impuestos*

Listas de Precios: Puedes validar en en Siigo Nube en el menú *Configuración* `>` *Más Configuraciones* `>` *Inventarios* `>` *Listas de precios* ahi puedes habilitar hasta 12 de listas de precios.

## `parameter_required`
No se proporcionaron uno o más valores obligatorios.
Asegúrate de que las solicitudes incluyan todos los parámetros necesarios.

Formas de Pago: Debes enviar el query parameter document_type=FV (FV, NC y RC)

## `parameters_exclusive`
Se proporcionó un valor no permitido, consulta la documentación de nuestra API o el mensaje de error devuelto para verificar los valores que están permitidos al crear o modificar el recurso especificado.

## `invalid_plan_type`
Se proporcionó un valor no permitido, su plan no tiene límite de documentos.

## `invalid_account`
En generación de comprobantes contables: se proporcionó un número de cuenta contable inexistente.

En generación de reportes de balance de prueba general o balance de prueba por tercero: se da cuando "account_start" corresponde a una cuenta contable mayor que "account_end" 

En generación de facturas de compra, cuando en los ítems de tipo "account" cuando se usa una cuenta contable relacionada con grupos de inventario, activos fijos o impuestos en Siigo Nube.

## `product_settings`
Este error sucede si envías una bodega en la creación de factura y el producto no maneja control de inventarios.

## `requests_limit`
Están llegando solicitudes demasiado rápido a la API. Recomendamos una retirada exponencial de sus solicitudes.
*Importante:* `>` Para la empresa de pruebas las solicitudes son de 10 request por minuto
`>` Empresas en producción son 100 request por minuto.

## `unauthorized`
No estás autorizado, verifica el token de acceso. El token de acceso puede estar vencido o ser inválido. O el usuario asociado puede estar bloqueado.

## `unhandled_error`
Error no controlado, escríbenos a soporteapi@siigo.com para ayudarte y dar claridad a este error.

## `request_timeout`
Siigo API no logró completar la solicitud dentro del tiempo que estaba preparado para esperar. Puede intentar de nuevo en unos segundos.

## `service_unavailable`
Siigo API actualmente no está disponible debido a una sobrecarga temporal o mantenimiento programado. Puede intentar de nuevo en unos segundos.

## `warehouse_settings`
Este error sucede si envías una bodega en la creación de factura o nota crédito y NO está activo el manejo de bodegas.

Puedes validar en el menú *Configuración* `>` *Más Configuraciones* `>` *Inventarios* `>` *Configuración de bodegas* la habilitación de uso de bodegas.

## `invalid_balance`
Este error aparece cuando la suma de los debitos y créditos nos son iguales. 

## `values_limit`
Este error aparece cuando se ha excedido él limite de los valores permitidos.

## `invalid_date_range`
Este error aparece cuando las fechas que se proporcionan no están en un rango válido.

## `date_settings`
Este error aparece cuando la fecha que se proporcionan en la elaboración del comprobante no es permitida.

## `parameter_not_allowed`
Este error aparece cuando se envía el campo de vat_excluded: true, y no se está en la fecha correcta para los dias de la exención de IVA.
Puede presentarse al enviar un "id" invalido para el tipo de impuesto que se desea manejar, ejemplo:  Enviar un valor de imp.consumo y un "id"  de un impuesto de retención. 

## `non_editable`
Este error ocurre cuando se cambian datos que NO son editables

## `entry_service`
No es posible completar su solicitud con las condiciones actuales.

## `general_service`
El servicio no está disponible por el momento. Inténtalo en unos minutos. 






# Facturación Electrónica

Puedes enviar a la DIAN y por mail tus facturas de venta desde su creación en Siigo API, en caso de que no desees hacerlo automáticamente, puedes hacerlo de forma manual en Siigo Nube, mediante alguna de las siguientes opciones:
* Ingresar a Siigo Nube menú `>` *Facturación Electrónica* `>` *Otras opciones…* `>` *Envío masivo de comprobantes electrónicos*
![envio_masivo](https://siigonube.portaldeclientes.siigo.com/wp-content/uploads/2020/04/api-15-1024x211.png)

* Ingresar a Siigo Nube, desde la factura dar clic en el botón Enviar electrónicamente
![envio_individual](https://siigonube.portaldeclientes.siigo.com/wp-content/uploads/2020/04/api-16-1024x396.png)


# Data Structures

## AccountGroup (object)
+ id: 1253 (number,required) - Identificador único de la clasificación de inventario.
+ name: Productos (string,required) - Nombre de la clasificación de inventario.
+ active: true (boolean,required) - Indica si la clasificación de inventario está en uso.

## AccountGroupOut (object)
+ id: 1253 (number,required) - Identificador único de la clasificación de inventario.
+ name: Productos (string) - Nombre de la clasificación de inventario.

## ProductType (enum)
+ `Product` - Producto
+ `Service` - Servicio
+ `ConsumerGood` - Consumo

## TaxClassification (enum)
+ `Taxed` - Gravado
+ `Exempt` - Exento
+ `Excluded` - Excluido

## AssetGroup (object)
+ id: 1258 (number,required) - Identificador único del grupo de activos fijos.
+ name: Equipo de computación (string,required) - Nombre del grupo de activo.
+ active: true (boolean,required) - Indica si el grupo de activos está en uso.

## TaxType (enum)
+ `IVA`
+ `Retefuente`
+ `ReteIVA`
+ `ReteICA`
+ `Impoconsumo`
+ `AdValorem`
+ `Autorretencion`

## PaymentType (enum)
+ `Cartera` - Factura de venta y Recibo de Caja
+ `Proveedor` - Factura de Compra y Recibo de Pago
+ `CarteraProveedor` - Cartera/Proveedores

## DocumentType (enum)
+ `FV` - Factura de Venta
+ `RC` - Recibo de Caja
+ `NC` - Nota Crédito
+ `FC` - Factura de Compra
+ `CC` - Comprobante Contable

## DiscountType (enum)
+ `Percentage` - Maneja descuento por Porcentaje
+ `Value` - Maneja descuento por Valor

## ElectronicType (enum)
+ `NoElectronic` - Factura por computador / No electrónica
+ `Electronicvoice` - Factura electrónica de venta
+ `ContingencyInvoice` - Documento electrónico de transmisión - tipo 03 (Contingencia)
+ `ExportInvoice` - Factura electrónica de venta - exportación

## TokenIn (object)
+ username: sandbox@siigoapi.com (string,required) - Usuario
+ access_key: NDllMzI0NmEtNjExZC00NGM3LWE3OTQtMWUyNTNlZWU0ZTM0OkosU2MwLD4xQ08= (string,required) - Access Key

## TokenOut (object)
+ access_token: access token (string) - Access Token
+ expires_in: 86400 (number) - Expiración en milisegundos
+ token_type: Bearer (string) - Tipo de Token
+ scope: SiigoAPI (string) - Alcance

## Expenses (object)
+ id: 13156 (number) - Identificador único del descuento.
+ name: Ajuste al peso (string) - Nombre del descuento.

## Fixedassets (object)
+ id: 13156 (number,required) - Identificador único del activo fijo.
+ name: Equipo de oficina (string,required) - Nombre del Activo.
+ group: Equipo de computación (string,required) - Nombre del grupo de activo.
+ active: true (boolean,required) - Indica si el activo está en uso.

## Tax (object)
+ id: 13156 (number,required) - Identificador único del impuesto.
+ name: IVA 19% (string,required) - Nombre del impuesto.
+ type: IVA (TaxType,required) - Tipo del impuesto.
+ percentage: 19.00 (number,required) - Porcentaje del impuesto.
+ active: true (boolean,required) - Indica si el impuesto está en uso.

## GlobalDiscountsIn (object)
+ id: 13156 (number,required) - Identificador único del descuento global.
+ percentage: 10.00 (number,required) - Porcentaje del descuento global.
+ value: 100.0 (number,required) - Indica el valor del descuento global.

## GlobalDiscountsOut (object)
+ id: 13156 (number,required) - Identificador único del descuento global.
+ name: Descuento porcentual (string,required) - Nombre del descuento global.
+ percentage: 10.00 (number,required) - Porcentaje del descuento global.
+ value: 100.0 (number,required) - Indica el valor del descuento global.


## TaxIn (object)
+ id: 13156 (number,required) - Identificador único del impuesto.

## TaxInProduct (object)
+ id: 13156 (number,required) - Identificador único del impuesto.
+ milliliters: 1000  (number) - Número de mililitros del producto.
+ rate: 35 (number) - Tarifa del impuesto de bebidas azucaradas.

## TaxRet (object)
+ id: 13156 (number,required) - Identificador único del impuesto.

## TaxOut (object)
+ id: 13156 (number) - Identificador único del impuesto.
+ name: IVA 19% (string) - Nombre del impuesto.
+ type: IVA (TaxType) - Tipo del impuesto.
+ percentage: 19.00 (number) - Porcentaje del impuesto.

## TaxOutInvoice (object)
+ id: 13156 (number) - Identificador único del impuesto.
+ name: IVA 19% (string) - Nombre del impuesto.
+ type: IVA (TaxType) - Tipo del impuesto.
+ percentage: 19 (number) - Porcentaje del impuesto.
+ value: 406.51 (number) - Valor del impuesto.

## RetentionOutInvoice (object)
+ id: 34072 (number) - Identificador único del impuesto.
+ name: ReteIVA 15% (string) - Nombre del impuesto.
+ type: ReteIVA (TaxType) - Tipo del impuesto.
+ percentage: 15 (number) - Porcentaje del impuesto.
+ value: 60.98 (number) - Valor del impuesto.

## PriceList (object)
+ id: 2766 (number,required) - Identificador único de la lista de precio.
+ name: Precio de venta 1 (string) - Nombre de la lista de precio.
+ active: true (boolean) - Indica si la lista de precio está en uso.
+ position: 1 (number) - Posición de la lista de precio.

## PriceIn
+ currency_code: COP (string,required) - Código de moneda
+ price_list (array[PriceListIn],required) - Lista de precios

## PriceOut
+ currency_code: COP (string,required) - Código de moneda
+ price_list (array[PriceListOut],required) - Lista de precios

## PriceListIn (object)
+ position: 1 (number,required) - Identificador único de la lista de precio.
+ value: 12000 (number,required) - Valor de la lista de precio.

## PriceListOut (object)
+ position: 1 (number) - Identificador único de la lista de precio.
+ name: Precio de venta 1 (string) - Nombre de la lista de precio.
+ value: 12000 (number) - Valor de la lista de precio.

## UnitOut (object)
+ code: 94 (string,required) - Código de la unidad de medida.
+ name: unidad (string) - Nombre de la unidad de medida.

## AdditionalFields (object)
+ barcode: B0123 (string) - Código de barras.
+ brand: Gef (string) - Marca.
+ tariff: 151612 (string) - Código arancelario.
+ model: Loiry  (string) - Modelo.

## Warehouse (object)
+ id: 1270 (number,required) - Identificador único de la bodega.
+ name: Bodega principal (string) - Nombre de la bodega.
+ active: true (boolean) - Indica si la bodega está en uso.
+ has_movements: true (boolean) - Indica si la bodega tiene movimientos.

## WarehouseProduct (object)
+ id: 1270 (number,required) - Identificador único de la bodega.
+ name: Bodega principal (string) - Nombre de la bodega.
+ quantity: 1 (number) - Cantidad disponible.

## WarehouseOutInvoice (object)
+ id: 1270 (number,required) - Identificador único de la bodega.
+ name: Bodega principal (string) - Nombre de la bodega.

## User (object)
+ id: 35071 (number,required) - Identificador único del usuario o vendedor.
+ username: usuario@prueba.com (string, required) - Nombre de usuario.
+ first_name: David Felipe (string, required) - Nombre del usuario.
+ last_name: Yepes Sánchez (string, required) - Apellido del usuario.
+ email: usuario@prueba.com (string, required) - Correo del usuario.
+ active: true (boolean,required) -  Estado del usuario.
+ identification: 13832082 (string, required) - Número de identificación del usuario.

## PaymentTypes (object)
+ id: 5636 (number,required) - Identificador único de la forma de pago.
+ name: Crédito (string, required) - Nombre de la forma de pago.
+ `type` (PaymentType, required) - Tipo de la forma de pago.
+ active: true (boolean, required) - Estado de la forma de pago.
+ due_date: true (boolean, required) - Indica si la forma de pago maneja fecha de vencimiento.

## Document (object)
+ id: 24446 (number) - Identificador único del comprobante.
+ code: 1 (string) - Código del comprobante.
+ name: Factura (string) - Nombre o título del comprobante.
+ description: Factura de venta (string) - Descripción del comprobante.
+ `type` (DocumentType) - Tipo de comprobante.
+ active: true (boolean) -  Estado del comprobante.
+ seller_by_item: false (boolean) - Maneja vendedor por ítem.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.
+ `discount_type` (DiscountType) - Maneja descuento por Porcentaje o Valor.
+ decimals: true (boolean) - Maneja decimales.
+ advance_payment: false (boolean) - Maneja copagos / anticipos.
+ reteiva: true (boolean) - Maneja reteIVA.
+ reteica: true (boolean) - Maneja reteICA.
+ self_withholding: false (boolean) - Maneja autorretención decreto 2201.
+ self_withholding_limit: 0 (number)
+ `electronic_type` (ElectronicType) - Indica el tipo de factura.

## DocumentTypeC (object)
+ id: 24446 (number) - Identificador único del comprobante.
+ code: 1 (string) - Código del comprobante.
+ name: Cotización (string) - Nombre o título del comprobante.
+ description: Cotización (string) - Descripción del comprobante.
+ type: C (string) - Tipo de comprobante.
+ active: true (boolean) -  Estado del comprobante.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.
+ `discount_type` (DiscountType) - Maneja descuento por Porcentaje o Valor.
+ decimals: true (boolean) - Maneja decimales.

## DocumentTypeFV (object)
+ id: 24446 (number) - Identificador único del comprobante.
+ code: 1 (string) - Código del comprobante.
+ name: Factura (string) - Nombre o título del comprobante.
+ description: Factura de venta (string) - Descripción del comprobante.
+ `type` (DocumentType) - Tipo de comprobante.
+ active: true (boolean) -  Estado del comprobante.
+ seller_by_item: false (boolean) - Maneja vendedor por ítem.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.
+ `discount_type` (DiscountType) - Maneja descuento por Porcentaje o Valor.
+ decimals: true (boolean) - Maneja decimales.
+ advance_payment: false (boolean) - Maneja copagos / anticipos.
+ reteiva: true (boolean) - Maneja reteIVA.
+ reteica: true (boolean) - Maneja reteICA.
+ self_withholding: false (boolean) - Maneja autorretención decreto 2201.
+ self_withholding_limit: 0 (number)
+ `electronic_type` (ElectronicType) - Indica el tipo de factura.
+ cargo_transportation: true (boolean) - Maneja campos del sector transporte.
+ healthcare_company: true (boolean) - Maneja campos del sector salud.
+ customer_by_item: true (boolean) - Maneja ingresos para terceros.

## DocumentTypeFC (object)
+ id: 24446 (number) - Identificador único del comprobante.
+ code: 1 (string) - Código del comprobante.
+ name: Factura (string) - Nombre o título del comprobante.
+ description: Factura de Compra (string) - Descripción del comprobante.
+ type: FC - Tipo de comprobante.
+ active: true (boolean) -  Estado del comprobante.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.
+ decimals: true (boolean) - Maneja decimales.
+ consumption_tax: true (boolean) - Maneja impuesto al consumo.
+ reteiva: true (boolean) - Maneja reteIVA.
+ reteica: true (boolean) - Maneja reteICA.
+ document_support: true (boolean) - Usa como documento soporte.


## DocumentTypeRC (object)
+ id: 59625 (number) - Identificador único del tipo de comprobante.
+ code: 1 (string) - Código del tipo comprobante.
+ name: Recepción (string) - Nombre o título del tipo de comprobante.
+ description: Recepción de pago (string) - Descripción del tipo de comprobante.
+ type: RC (string) - Tipo de comprobante.
+ active: true (boolean) -  Estado del tipo de comprobante.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ cost_center_default: 1513 (number) - Identificador el número del centro de costos por defecto.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.

## DocumentTypeRP (object)
+ id: 59625 (number) - Identificador único del tipo de comprobante.
+ code: 1 (string) - Código del tipo comprobante.
+ name: Recibo de pago (string) - Nombre o título del tipo de comprobante.
+ description: Recibo de pago / egreso (string) - Descripción del tipo de comprobante.
+ type: RP (string) - Tipo de comprobante.
+ active: true (boolean) -  Estado del tipo de comprobante.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ cost_center_default: 1513 (number) - Identificador el número del centro de costos por defecto.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.

## DocumentTypeNC (object)
+ id: 59625 (number) - Identificador único del tipo de comprobante.
+ code: 1 (string) - Código del tipo comprobante.
+ name: Nota Crédito (string) - Nombre o título del tipo de comprobante.
+ description: Nota Crédito (string) - Descripción del tipo de comprobante.
+ type: NC (string) - Tipo de comprobante.
+ active: true (boolean) -  Estado del tipo de comprobante.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ cost_center_default: 1513 (number) - Identificador el número del centro de costos por defecto.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.
+ customer_by_item: true (boolean) - Maneja ingresos para terceros.

## DocumentTypeCC (object)
+ id: 59625 (number) - Identificador único del tipo de comprobante.
+ code: A1 (string) - Código del tipo comprobante.
+ name: Ajustes contables (string) - Nombre o título del tipo de comprobante.
+ description: Ajustes contables (string) - Descripción del tipo de comprobante.
+ type: CC (string) - Tipo de comprobante.
+ active: true (boolean) -  Estado del tipo de comprobante.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ cost_center_default: 1513 (number) - Identificador el número del centro de costos por defecto.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 13 (number) - Consecutivo.

## CostCenter (object)
+ id: 25732 (number,required) - Identificador único del centro de costo.
+ code: 13-1 (string, required) - Código del centro de costo.
+ name: Principal (string, required) - Nombre del centro de costo.
+ active: true (boolean,required) -  Estado del centro de costo.

## IdType (object)
+ code: 13 (string, required) - Código del tipo de documento.
+ name: Cédula de ciudadanía (string, required) - Nombre del tipo de documento.

## Currency (object)
+ code: USD (string,required) - Código de moneda.
+ exchange_rate: ``3825.03`` (number,required) - Tasa / Valor en moneda extranjera.

## Discount (object)
+ percentage: 13 (number) - Porcentaje de descuento
+ value: 130 (number) - Valor de descuento

## AccounGroupIn (object)
+ code: ``Abc123`` (string, required) - Código único de la categoría de inventarios.
+ name: Categoría de productos 1 (string, required) - Nombre de la categoría de inventarios.

## ProductIn (object)
+ code: ``Item-1`` (string, required) - Código único del producto.
+ name: Camiseta de algodón (string, required) - Nombre del producto / servicio.
+ account_group: 1253 (number,required) - ID de la clasificación de inventario. 
+ `type` (ProductType, required) - Tipo de producto, valor por default Product
+ stock_control: false (boolean) - Control de inventario, valor por default false.
+ active: true (boolean) - Estado del producto en Siigo, valor por default true.
+ tax_classification (TaxClassification) - Clasificación tributaria, valor por default Gravado.
+ tax_included: false (boolean) - IVA incluido.
+ tax_consumption_value: 0 (number) - Valor  impuesto al consumo.
+ taxes (array[TaxInProduct]) - Impuestos que se desean asociar al producto o servicio.
+ prices (array[PriceIn]) - Son valores de venta que manejan cada uno de los productos o servicios, en  Siigo  es  posible  manejar  hasta 12 precios de venta.
+ unit: 94 (string) - Código de la unidad de medida del producto para factura electrónica, valor por default 94.
+ unit_label: unidad (string) - Unidad de medida para impresión factura.
+ reference: REF1 (string) - Referencia o código de fábrica del producto o servicio.
+ description: Camiseta de algodón blanca (string) - Descripción del producto o servicio.
+ additional_fields (AdditionalFields) - Campos adicionales como: Código de barras, Marca, Código arancelario, Modelo.

## ProductOutCreate (object)
+ id: ``00584089-4ebc-49de-bf75-6a6cc968a96d`` (string) - Identificador del producto.
+ code: ``Item-1`` (string, required) - Código único del producto.
+ name: Camiseta de algodón (string, required) - Nombre del producto / servicio.
+ account_group (AccountGroupOut) - ID de la clasificación de inventario.
+ `type` (ProductType, required) - Tipo de producto, valor por default Product
+ stock_control: false (boolean) - Control de inventario, valor por default false.
+ active: true (boolean) - Estado del producto en Siigo, valor por default true.
+ tax_classification (TaxClassification) - Clasificación tributaria.
+ tax_included: false (boolean) - IVA incluido.
+ tax_consumption_value: 0 (number) - Valor  impuesto al consumo.
+ taxes (array[TaxOut]) - Impuestos que se desean asociar al producto o servicio.
+ prices (array[PriceOut]) - Son valores de venta que manejan cada uno de los productos o servicios, en  Siigo  es  posible  manejar  hasta 12 precios de venta.
+ unit (UnitOut) - Código de la unidad de medida del producto para factura electrónica, valor por default 94.
+ unit_label: unidad (string) - Unidad de medida para impresión factura.
+ reference: REF1 (string) - Referencia o código de fábrica del producto o servicio.
+ description: Camiseta de algodón blanca (string) - Descripción del producto o servicio.
+ additional_fields (AdditionalFields) - Campos adicionales como: Código de barras, Marca, Código arancelario, Modelo.
+ available_quantity: 0 (number) - Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas.
+ warehouses (array) - Indica las bodegas asociadas al producto.
+ metadata (MetadataCreate) - Información acerca de la entidad.

## ProductOut (object)
+ id: ``00584089-4ebc-49de-bf75-6a6cc968a96d`` (string) - Identificador del producto.
+ code: ``Item-1`` (string, required) - Código único del producto.
+ name: Camiseta de algodón (string, required) - Nombre del producto / servicio.
+ account_group (AccountGroupOut) - ID de la clasificación de inventario.
+ `type` (ProductType, required) - Tipo de producto, valor por default Product
+ stock_control: false (boolean) - Control de inventario, valor por default false.
+ active: true (boolean) - Estado del producto en Siigo, valor por default true.
+ tax_classification (TaxClassification) - Clasificación tributaria.
+ tax_included: false (boolean) - IVA incluido.
+ tax_consumption_value: 0 (number) - Valor  impuesto al consumo.
+ taxes (array[TaxOut]) - Impuestos que se desean asociar al producto o servicio.
+ prices (array[PriceOut]) - Son valores de venta que manejan cada uno de los productos o servicios, en  Siigo  es  posible  manejar  hasta 12 precios de venta.
+ unit (UnitOut) - Código de la unidad de medida del producto para factura electrónica, valor por default 94.
+ unit_label: unidad (string) - Unidad de medida para impresión factura.
+ reference: REF1 (string) - Referencia o código de fábrica del producto o servicio.
+ description: Camiseta de algodón blanca (string) - Descripción del producto o servicio.
+ additional_fields (AdditionalFields) - Campos adicionales como: Código de barras, Marca, Código arancelario, Modelo.
+ available_quantity: 0 (number) - Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas.
+ warehouses (array[WarehouseProduct]) - Indica las bodegas asociadas al producto.
+ metadata (Metadata) - Información acerca de la entidad.

## ProductsOutList (object)
+ `pagination` (Pagination)
+ results (array[ProductOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/products?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/products?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/products?page=6&page_size=25

## CustomerType (enum)
+ `Customer` - Cliente
+ `Supplier` - Proveedor
+ `Other` - Otros

## PersonType (enum)
+ `Person` - Persona
+ `Company` - Empresa

## City (object)
+ CityID: 12346 (string,required) - Código de la ciudad.
+ CountryCode: Co(string,required) - Código del país.
+ CountryName: Colombia (string,required) - Nombre del país.
+ StateCode: 11(string,required) - Código del departamento.
+ StateName: Bogotá D.C (string,required) - Nombre del departamento.
+ CityCode: 11001 (string,required) - Código de la ciudad.
+ CityName: Bogotá (string,required) - Nombre de la ciudad.

## CityIn (object)
+ country_code: Co (string, required) - Código del país.
+ state_code: 19 (string,required) - Código del departamento/estado.
+ city_code: 19001 (string,required) - Código de la ciudad.

## CityOut (object)
+ country_code: Co (string, required) - Código del país.
+ country_name: Colombia (string) - Nombre del país.
+ state_code: 19 (string,required) - Código del departamento/estado.
+ state_name: Cauca (string) - Nombre del departamento/estado.
+ city_code: 19001 (string,required) - Código de la ciudad.
+ city_name: Popayán (string) - Nombre de la ciudad.

## CityOutInvoice (object)
+ country_name: Colombia (string) - Nombre del país.
+ state_name: Cauca (string) - Nombre del departamento/estado.
+ city_name: Popayán (string) - Nombre de la ciudad.

## AddressIn (object)
+ address: ``Cra. 18 #79A - 42`` (string,required) - Dirección del cliente.
+ city (CityIn,required) - Ciudad del cliente.
+ postal_code: 110911 (string) - Código postal.

## AddressOut (object)
+ address: ``Cra. 18 #79A - 42`` (string,required) - Dirección del cliente.
+ city (CityOut,required) - Ciudad del cliente.
+ postal_code: 110911 (string) - Código postal.

## Phone (object)
+ indicative: 57 (string) - Indicativo
+ number: 3006003345 (string,required) - Número
+ extension: 132 (string) - Extensión

## PhoneContact (object)
+ indicative: 57 (string) - Indicativo
+ number: 3006003345 (string) - Número
+ extension: 132 (string) - Extensión

## Contact (object)
+ first_name: Marcos (string,required) - Nombres del contacto.
+ last_name: Castillo (string,required) - Apellidos del contacto.
+ email: marcos.castillo@contacto.com (string,required) - Correo electrónico del contacto.
+ phone (PhoneContact) - Indica el teléfono asociado al contacto.

## FiscalResponsabilityIn (object)
+ code: ``R-99-PN`` (string,required) - Código de la responsabilidad fiscal.

## FiscalResponsability (object)
+ code: ``R-99-PN`` (string,required) - Código de la responsabilidad fiscal.
+ name: ``No responsable`` (string) - Nombre de la responsabilidad fiscal.

## RelatedUsers (object)
+ seller_id: 629 (number) - Usuario vendedor asigando al cliente.
+ collector_id: 629 (number) - Usuario cobrador encargado del recaudo de cartera.

## CustomField (object)
+ key: webpage (string) - Tipo de atributo
+ value: www.siigo.com (string) - Valor del atributo

## MetadataCreate (object)
+ created: ``2020-06-15T03:33:17.208Z`` (string) - La fecha en la que se creó la entidad.
+ last_updated: null (string) - La fecha en la que se actualizó la entidad por última vez.

## xml (object)
+ id: ``b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`` (string) - Identificador de la Factura de Venta.
+ base64: ``Y29udGVuaWRvIGRlbCBwZGY=Y12dsfs54TY22gdfg`` (string) - XML de Factura de Venta.


## pdf (object)
+ id: ``b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`` (string) - Identificador de la Factura de Venta.
+ base64: ``Y29udGVuaWRvIGRlbCBwZGY=`` (string) - PDF de Factura de Venta.

## pdfNC (object)
+ id: ``b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`` (string) - Identificador de la Nota Crédito.
+ base64: ``Y29udGVuaWRvIGRlbCBwZGY=....`` (string) - PDF de Nota Crédito.

## fvRejected (object)
+ id: ``b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`` (string) - Identificador de la Factura de Venta.
+ errors (array[RejectedOut]) - Información del error.

## RejectedOut (object)
+ message: Error1 (string) - Motivo del rechazo por parte de la DIAN


## Metadata (object)
+ created: ``2020-06-15T03:33:17.208Z`` (string) - La fecha en la que se creó la entidad.
+ last_updated: null (string) - La fecha en la que se actualizó la entidad por última vez.

## CustomerIn (object)
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType,required) - Tipo de persona.
+ id_type: 13 (string,required) - Código del tipo de identificación del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ check_digit: 4 (string) - Dígito verificación, se calcula automáticamente.
+ name: ``Marcos``,``Castillo`` (array[string], required) - Razón social o nombres y apellidos del cliente. Si "type": Company enviar name: ["Stark Industries"] Si "type": Person enviar name: ["Marcos" , "Castillo"]
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa ciente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.
+ active: true (boolean) - Estado del cliente en Siigo, valor por default true.
+ vat_responsible: false (boolean) - Tipo de régimen IVA. True si es responsable de IVA, False si no es responsable de IVA, valor por default false.
+ fiscal_responsibilities (array[FiscalResponsabilityIn]) - Responsabilidades fiscales del cliente, valor por default R-99-PN.
+ address (AddressIn,required) - Información de país, ciudad y dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente, se pueden asociar hasta 20 contactos.
+ comments: Comentarios (string) - Observaciones.
+ related_users (RelatedUsers) - Asigna el vendedor y el cobrador encargado del recaudo de cartera al cliente.

## CustomerInEc (object)
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType,required) - Tipo de persona.
+ id_type: 13 (string,required) - Código del tipo de identificación del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ name: ``Marcos``,``Castillo`` (array[string], required) - Razón social o nombres y apellidos del cliente. Si "type": Company enviar name: ["Stark Industries"] Si "type": Person enviar name: ["Marcos" , "Castillo"]
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa ciente.
+ active: true (boolean) - Estado del cliente en Siigo, valor por default true.
+ address (AddressIn,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente.
+ comments: Comentarios (string) - Observaciones.
+ related_users (RelatedUsers) - Asigna el vendedor y el cobrador encargado del recaudo de cartera al cliente.

## CustomerOutEc (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType) - Tipo de persona.
+ id_type (IdType) - Tipo de identificación del cliente.
+ identification: 13832081 (string) - Número de identificación del cliente.
+ name: ``Marcos``,``Castillo`` (array[string]) - Razón social o nombres y apellidos del cliente.
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa cLiente.
+ active: true (boolean) - Estado del cliente en Siigo, valor por default true.
+ address (AddressOut) - Dirección del cliente.
+ phones (array[Phone]) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact]) - Indica los contactos asociados al cliente.
+ comments: Comentarios (string) - Observaciones.
+ related_users (RelatedUsers) - Asigna el vendedor y el cobrador encargado del recaudo de cartera al cliente.
+ metadata (Metadata) - Información acerca de la entidad.

## CustomerOut (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType,required) - Tipo de persona.
+ id_type (IdType,required) - Tipo de identificación del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ check_digit: 4 (string) - Dígito verificación, se calcula automáticamente.
+ name: ``Marcos``,``Castillo`` (array[string], required) - Razón social o nombres y apellidos del cliente.
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa cLiente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.
+ active: true (boolean) - Estado del cliente en Siigo, valor por default true.
+ vat_responsible: true (boolean) - Tipo de régimen IVA. True si es responsable de IVA, False si no es responsable de IVA, valor por default false.
+ fiscal_responsibilities (array[FiscalResponsability]) - Responsabilidades fiscales del cliente, valor por default R-99-PN.
+ address (AddressOut,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente.
+ comments: Comentarios (string) - Observaciones.
+ related_users (RelatedUsers) - Asigna el vendedor y el cobrador encargado del recaudo de cartera al cliente.
+ metadata (Metadata) - Información acerca de la entidad.

## PurchaseOrder
+ prefix: OC (string) - Prefijo de orden de compra.
+ number: 23 (string) - Número de orden de compra.

## DeliveryOrder
+ prefix: OE (string) - Prefijo de orden de entrega.
+ number: Dos mil (string) - Número de orden de entrega.
+ date: ``2021-03-19`` (string,required) - Fecha de orden de entrega.

## AdditionalFieldsInvoice (object)
+ purchase_order (PurchaseOrder) - Orden de compra
+ delivery_order (DeliveryOrder) - Orden de entrega

## AdditionalFieldsInvoices (object)



## Pagination
+ page: 1 (number)
+ page_size: 25 (number)
+ total_results: 253 (number)

# CustomersOutList (object)
+ `pagination` (Pagination)
+ results (array[CustomerOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/customers?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/customers?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/customers?page=6&page_size=25

## StampInDian (object)
+ send: true (boolean,required) - Indica nombre del estado 

## StampOutDian (object)
+ status: Accepted
+ cufe: 7eb8c882cd62daffded44b7d08668d04383b579c86b5bf23dcb3d601a2347bac07a7e08ae2c3602787bfaf91691449a6
+ observations: "",
+ errors: ""

## StampOutDianNC (object)
+ status: Accepted
+ cude: 7eb8c882cd62daffded44b7d08668d04383b579c86b5bf23dcb3d601a2347bac07a7e08ae2c3602787bfaf91691449a6
+ observations: "",
+ errors: ""


## mailInCustomer (object)
+ send: true (boolean,required) - Indica nombre del estado 


## mailOutCustomer (object)
+ status: sent,
+ observations: ""

## CopyCustomerIn (object)
+ mail_to: cabr110042@siigo.com,
+ copy_to: juan.casallas@siigo.com;armando.cabrera@siigo.com


## CopyCustomerOut (object)
+ status: sent,
+ observations: ""


## CustomerInInvoiceS (object)
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0

## CustomerOutInvoiceS (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.

## CustomerInInvoice (object)
+ person_type: Person (string, required) - Tipo de persona asociado al documento.
+ id_type: 13 (string, required) - Identificador del tipo de tercero.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.
+ name: ``Manuel``,``Camacho`` (array[string], required) - Razón social o nombres y apellidos del cliente.
+ address (AddressOut,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente, se pueden relacionar hasta 20 contactos.


## CustomerOutInvoice (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.

## CustomerOutInvoiceCompletoSinUsar (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType,required) - Tipo de persona.
+ id_type: 13 (string,required) - Código del tipo de identificación del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ check_digit: 4 (string) - Dígito verificación, se calcula automáticamente.
+ name: ``Marcos``,``Castillo`` (array[string], required) - Razón social o nombres y apellidos del cliente.
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa cLiente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.
+ vat_responsible: true (boolean) - Tipo de régimen IVA. True si es responsable de IVA, False si no es responsable de IVA.
+ fiscal_responsibilities (array[FiscalResponsability]) - Responsabilidades fiscales del cliente, valor por default R-99-PN.
+ address (AddressOut,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente.


## NameCustomer (object)
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.



## ItemIn (object)
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ quantity: 1 (number,required) - Cantidad.
+ price: 1069.77 (number,required) - Precio del producto / Valor unitario.
+ discount: ``0.0`` (number) - Porcentaje o Valor de descuento. Según configuración de la factura.
+ taxes (array[TaxIn]) - Impuestos que se desean asociar al producto o servicio.
+ transport (FieldsTransport) - Campos para empresas de transporte

## ItemIn (object)
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ quantity: 1 (number,required) - Cantidad.
+ price: 1069.77 (number,required) - Precio del producto / Valor unitario.
+ discount: ``0.0`` (number) - Porcentaje o Valor de descuento. Según configuración de la factura.
+ taxes (array[TaxIn]) - Impuestos que se desean asociar al producto o servicio.
+ transport (FieldsTransport) - Campos para empresas de transporte

# DocumentDS (object)
+ id: 2446 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=DS*

## ElectronicTypeDS (enum)
+ `Physical` - Documento soporte Físico
+ `Electronic` - Documento soporte electrónico

## SupplierReceiptNumber (object)
+ prefix: DS (string,required) - Prefijo del documento soporte del proveedor.
+ number: 1234 (string,required) - Consecutivo del documento soporte del proveedor.

## DocumentTypeDS (object)
+ id: 2446 (number) - Identificador único del comprobante.
+ code: 12 (string) - Código del comprobante.
+ name: Documento soporte (string) - Nombre o título del comprobante.
+ description: Documento sopote (string) - Descripción del comprobante.
+ `type` (DS) - Tipo de comprobante.
+ active: true (boolean) -  Estado del comprobante.
+ `electronic_type` (ElectronicTypeDS) - Indica si el documento soporte es físico o electrónico.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ cost_center_default: 245 (number) - Indica el número de ID del centro de costos.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.
+ decimals: true (boolean) - Maneja decimales.
+ reteiva: true (boolean) - Maneja reteIVA.
+ reteica: true (boolean) - Maneja reteICA.

## DocumentSoportIn (object)
+ document (DocumentDS,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Compras y gastos > Documentos > Documento soporte
+ date: ``2026-02-15`` (string,required) - Fecha del documento, formato yyyy-MM-dd.
+ supplier (CustomerInInvoiceS,required) - Identificador del proveedor que emite el documento soporte.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante.
+ supplier_receipt_number (SupplierReceiptNumber) -  Datos del documento soporte del proveedor.
+ currency (Currency) - Código de Moneda Extranjera
+ observations: Observaciones (string) - Comentarios para agregar información del documento soporte.
+ discount_type: Value (string) - Descuento por valor "Value" o porcentaje "percentage".
+ stamp (StampInDian) - Campo para indicar el envío electrónico del documento soporte
+ items (array[ItemInFC],required) - Productos o Servicios, activos fijos co cuentras contables asociadas al documento soporte.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.

## DocumentSoportOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador del documento soporte.
+ document (DocumentDS) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes) factura.
+ number: 2732 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: "DS-2-22" (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante.
+ date: ``2026-02-15`` (string) - Fecha del documento, formato yyyy-MM-dd.
+ supplier (CustomerInInvoiceS,required) - Identificador del proveedor que emite la compra.
+ cost_center: 235 (number) - Centro de costo.
+ supplier_receipt_number (SupplierReceiptNumber) -  Datos del documento soporte del proveedor.
+ discount_type: Value (string) -Tipo de descuento valor "Value" o porcentaje "percentage".
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total del documeno soporte, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear el documento soporte.
+ balance: 0 (number) - Saldo pendiente de pago en el documento soporte.
+ observations: Observaciones (string) - Comentarios para agregar información al documento soporte.
+ items (array[ItemOutFC]) - Productos o Servicios asociados al documento soporte.
+ payments (array[PaymentOut]) - Formas de pago asociadas al documento soporte.
+ stamp (StampOutDian) - Campo para indicar el envío electrónico del documento soporte. (si aplica)
+ metadata (Metadata) - Información acerca de la entidad.


## ItemInWithoutTransport (object)
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ quantity: 1 (number,required) - Cantidad.
+ price: 1069.77 (number,required) - Precio del producto / Valor unitario.
+ taxes (array[TaxIn]) - Impuestos que se desean asociar al producto o servicio.
+ discount: ``0.0`` (number) - Porcentaje o Valor de descuento. Según configuración del documento.


## ItemOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159ps`` (string) - Identificador del producto/servicio.
+ code: ``Item-1`` (string) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ quantity: 2 (number) - Cantidad. En Siigo Nube queda registado con dos decimales.
+ price: 1069.77 (number) - Precio del producto / Valor unitario. En Siigo Nube queda registado con dos decimales.
+ discount (Discount) - Porcentaje y valor de descuento.
+ taxes (array[TaxOutInvoice]) - Impuestos que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total del producto, incluye impuestos.

## ItemInDev (object)
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ warehouse: 371092 (number) - Identificador de la bodega/almacén asociada al producto.
+ quantity: 1 (number,required) - Cantidad.
+ price: 1069.77 (number,required) - Precio del producto / Valor unitario.
+ taxed_price: 1500 (number) - Precio del producto con impuesto de IVA incluido. 
+ discount: ``0.0`` (number) - Porcentaje o Valor de descuento. Según configuración de la factura.
+ taxes (array[TaxIn]) - Impuestos que se desean asociar al producto o servicio.

## ItemOutDev (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159ps`` (string) - Identificador del producto/servicio.
+ code: ``Item-1`` (string) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ warehouse (WarehouseOutInvoice) - Bodega/almacén asociada al producto. *Revisar
+ quantity: 2 (number) - Cantidad. En Siigo Nube queda registado con dos decimales.
+ price: 1069.77 (number) - Precio del producto / Valor unitario. En Siigo Nube queda registado con dos decimales.
+ discount (Discount) - Porcentaje y valor de descuento.
+ taxes (array[TaxOutInvoice]) - Impuestos que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total del producto, incluye impuestos.

## PaymentDocument
+ prefix: ``FV-2`` (string,required) - Prefijo - Comprobante a cruzar, si el cliente tiene anticipos.
+ consecutive: 22 (number,required) - Consecutivo
+ quote: 1 (number) - Cuota

## PaymentIn (object)
+ id: 5636 (number) - ID del medio de pago.
+ value: ``1273.03`` (number,required) - Valor asociado al medio de pago.
+ due_date: ``2021-03-19`` (string) - Fecha pago cuota, formato yyyy-MM-dd.

## PaymentOut (object)
+ id: 5636 (number) - ID del medio de pago.
+ name: ``Crédito`` (string) - Nombre del medio de pago.
+ value: ``1273.03`` (number,required) - Valor asociado al medio de pago.
+ due_date: ``2021-03-19`` (string) - Fecha pago cuota, formato yyyy-MM-dd.

## VoucherPaymentIn (object)
+ id: 5636 (number,required) - ID del medio de pago con cuenta contable que no maneja vencimiento.
+ value: ``119000`` (number,required) - Valor asociado al medio de pago.

## VoucherPaymentOut (object)
+ id: 5636 (number,required) - ID del medio de pago con cuenta contable que no maneja vencimiento.
+ name: ``Crédito`` (string) - Nombre del medio de pago.
+ value: ``119000`` (number,required) - Valor asociado al medio de pago.

# InvoicesOutList (object)
+ `pagination` (Pagination)
+ results (array[InvoiceOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/invoices?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/invoices?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/invoices?page=6&page_size=25
    

# QuotationsOutList (object)
+ `pagination` (Pagination)
+ results (array[QuotationOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/quotations?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/quotations?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/quotations?page=6&page_size=25
        

# DocumentCC (object)
+ id: 27441 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=CC*

# DocumentFV (object)
+ id: 24446 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=FV*

# DocumentC (object)
+ id: 24446 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=C*

# DocumentFC (object)
+ id: 24446 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=FC*

# DocumentInDev (object)
+ id: 24446 (number,required) - Identificador del comprobante
+ number: 22 (number) - Consecutivo/número del comprobante, el campo NO es obligatorio por defecto, depende de la configuración del tipo de comprobante.

# DocumentNC (object)
+ id: 77775 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=NC*

# DocumentRC (object)
+ id: 7714 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=RC*

# Totals (object)
+ total: 2546.05 (number) - Total del comprobante, es calculado según el manejo de decimales que tenga configurada la empresa al momento de la creación.
+ totalDiscounts
+ totalVat
+ totalRetefuente

# FieldsTransport (object)
+ file_number: 536 (number) - Número de radicado.
+ shipment_number: ``RM-145`` (string) - Número de remesa.
+ transported_quantity: ``120`` (number) - Cantidad transportada.
+ measurement_unit: ``KGM`` (string) - Unidad de medida.
+ freight_value: ``220000`` (number) - Valor del Flete.
+ purchase_order: ``OC-236`` (string) -Orden de compra.
+ service_type: ``AdditionalService`` (string) - Tipo de servicio.

## InvoiceInS (object)
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2023-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoiceS,required) - Identificador del cliente asociado a la factura.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ currency (Currency) - Código de Moneda Extranjera
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemIn],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.


## InvoiceOutS (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFV) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes) factura.
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``FV-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2023-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerOutInvoiceS) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costo.
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ public_url: https://documentview.siigo.com/document?data=MS4ruap0JuOL8dao3oKEMa (string) - Url de la vista pública de la factura de venta
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.
+ metadata (Metadata) - Información acerca de la entidad.

## InvoiceIn (object)
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2023-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoice,required) - Identificador del cliente asociado a la factura.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ currency (Currency) - Código de Moneda Extranjera
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemIn],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.
+ global_discounts (array[GlobalDiscountsIn]) - Descuentos globales de la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.


## InvoiceOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFV) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes) factura.
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``FV-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2023-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costo.
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ public_url: https://documentview.siigo.com/document?data=MS4ruap0JuOL8dao3oKEMa (string) - Url de la vista pública de la factura de venta
+ global_discounts (array[GlobalDiscountsOut]) - Descuentos globales de la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.
+ metadata (Metadata) - Información acerca de la entidad.

## InvoiceInDian (object)
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2023-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoice,required) - Identificador del cliente asociado a la factura.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ currency (Currency) - Código de Moneda Extranjera
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ stamp (StampInDian) - Campo para indicar el envío de la factura electronica
+ mail (mailInCustomer) - Campo para indicar el envío de la factura al cliente
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemIn],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.
+ globaldiscounts (array[GlobalDiscountsIn]) - Descuentos globales de la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.

## QuotationIn (object)
+ document (DocumentC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Ventas > Documentos > Cotizaciones)
+ date: ``2025-09-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoiceS,required) - Identificador del cliente asociado a la factura.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ currency (Currency) - Código de Moneda Extranjera
+ seller: 629 (number,required) - ID del vendedor asociado a la cotización.
+ items (array[ItemInWithoutTransport],required) - Productos o Servicios asociados a la cotización.

## QuotationOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la cotización.
+ document (DocumentC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Ventas > Documentos > Cotizaciones)
+ number: 22 (number) - Consecutivo/número del comprobante.
+ name: ``C-1-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2023-12-15`` (string) - Fecha de la cotización, formato yyyy-MM-dd.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la cotización.*Revisar
+ cost_center: 235 (number) - Centro de costo.
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total de la cotización.
+ seller: 629 (number) - ID del vendedor asociado a la cotización.
+ items (array[ItemOut]) - Productos o Servicios asociados a la cotización.
+ public_url: https://publicview.siigo.com/document?data=MS4ruap0JuOL8dao3oKEMa (string) - Url de la vista pública de la cotización
+ metadata (Metadata) - Información acerca del documento.

## InvoiceBatchInIndiviual (object)
+ idempotency_key: 12345678 (string,required) - Identificador externo de la factura que se va a crear
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2023-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoiceS,required) - Identificador del cliente asociado a la factura.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ items (array[ItemInWithoutTransport],required) - Productos o Servicios asociados a la factura.
+ stamp (StampInDian) - Campo para indicar el envío de la factura electronica
+ mail (mailInCustomer) - Campo para indicar el envío de la factura al cliente
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.


## InvoiceBatchIn (object)
+ notification_url: https://website (string,required) - URL a la que quieres que se notifique cuando se termine de procesar el lote de facturas.
+ invoices (array[InvoiceBatchInIndiviual],required) - Facturas de venta que se van a crear

## InvoiceBatchOut (object)
+ id:  ``ea6186c4-a11f-4694-90a4-c01b9785e9d2`` (string) - Identificador del lote de facturas.
+ status:  Received (string) - Estado del procesamiento del lote de facturas.
+ received_at: ``2025-07-10T20:48:54.0988518Z`` (string) - Fecha de recepción del lote de facturas.


## InvoiceOutDian (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFV) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes) factura.
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``FV-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2023-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costo.
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ stamp (StampOutDian) - Campo para indicar el envío de la factura electronica
+ mail (mailOutCustomer) - Campo para indicar el envío de la factura al cliente
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ public_url: https://documentview.siigo.com/document?data=MS4ruap0JuOL8dao3oKEMa (string) - Url de la vista pública de la factura de venta
+ globaldiscounts (array[GlobalDiscountsOut]) - Descuentos globales de la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.
+ metadata (Metadata) - Información acerca de la entidad.

## CopyMailIn
+ mail_to: cabr110042@siigo.com,
+ copy_to: juan.casallas@siigo.com;armando.cabrera@siigo.com


## CopyMailOut 
+ status: sent,
+ observations: ""

## PurchasesIn (object)
+ document (DocumentFC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Compras y gastos > Documnetos > Facturas de compra
+ date: ``2023-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ supplier (CustomerInInvoiceS,required) - Identificador del proveedor que emite la compra.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ provider_invoice (ProviderInvoice) -  Datos de factura de compra.
+ currency (Currency) - Código de Moneda Extranjera
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ discount_type: Value (string) - Descuento por valor "Value" o porcentaje "percentage".
+ supplier_by_item: Proveedor por item (boolean) - Indica si la FC manejara proveedor por item.
+ tax_included: Impuesto incluido en precio (boolean) - Indica si el precio enviado tiene impuesto incluido.
+ items (array[ItemInFC],required) - Productos o Servicios, activos fijos co cuentras contables asociadas a la compra.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.

## PurchasesOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFC) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes) factura.
+ number: 25732 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: "FV-2-22" (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante.
+ date: ``2023-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ supplier (CustomerInInvoiceS,required) - Identificador del proveedor que emite la compra.
+ cost_center: 235 (number) - Centro de costo.
+ provider_invoice (ProviderInvoice) -  Datos de factura de compra.
+ discount_type: Value (string) -Tipo de descuento valor "Value" o porcentaje "percentage".
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOutFC]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ metadata (Metadata) - Información acerca de la entidad.

## ItemInFC (object)
+ type: ``Product`` (string,required) - Tipo del item de compra.
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ quantity: 1 (number,required) - Cantidad.
+ price: 1069.77 (number,required) - Precio del producto / Valor unitario.
+ discount: ``0.0`` (number) - Porcentaje o Valor de descuento. Según configuración de la factura.
+ taxes (array[TaxIn]) - Impuestos que se desean asociar al producto o servicio.

## ItemOutFC (object)
+ type: ``Product`` (string,required) - Tipo del item de compra.
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159ps`` (string) - Identificador del producto/servicio.
+ code: ``Item-1`` (string) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ quantity: 2 (number) - Cantidad. En Siigo Nube queda registado con dos decimales.
+ price: 1069.77 (number) - Precio del producto / Valor unitario. En Siigo Nube queda registado con dos decimales.
+ discount (Discount) - Porcentaje y valor de descuento.
+ taxes (array[TaxOutInvoice]) - Impuestos que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total del producto, incluye impuestos.


## ProviderInvoice (object)
+ prefix: FV1 (string,required) - Prefijo de factura de venta del proveedor.
+ number: 1234 (string,required) - Consecutivo de factura de venta del proveedor.


## InvoiceInDev (object)
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2023-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoice,required) - Identificador del cliente asociado a la factura.
+ cost_center: 25732 (number) - Identificador del Centro de costos.
+ currency (Currency) - Información de la moneda y tasa de cambio asociada a la factura.
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ retentions (array[TaxRet]) - Retenciones que se desean asociar al producto o servicio, el campo es obligatorio según la configuración del tipo de comprobante.
+ advance_payment: 132 (number) - Valor de Anticipo o Copago.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.+ advance_payment: 132 (number) - Valor de Anticipo o Copago.
+ items (array[ItemInDev],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoice) - Campos adicionales como: Orden de compra y Orden de entrega.

## InvoiceOutDev (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFV) -  Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2023-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ status: pagada (string) - Estado de la factura.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 25732 (number) - Centro de costos.
+ currency (Currency) - Información de la moneda y tasa de cambio asociada a la factura.
+ retentions (array[RetentionOutInvoice]) - Retenciones que se desean asociar al producto o servicio.
+ advance_payment: 132 (number) - Valor de Anticipo o Copago.
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ public_url: https://documentview.siigo.com/document?data=MS4ruap0JuOL8dao3oKEMa (string) - Url de la vista pública de la factura de venta
+ additional_fields (AdditionalFieldsInvoice) - Campos adicionales como: Orden de compra y Orden de entrega.
+ metadata (Metadata) - Información acerca de la entidad.

## InvoiceOutCreditNote (object)
+ id: ``302580df-838b-4531-b8bf-dd3c98b34059`` (string) - Identificador de la factura que se le aplicó la Nota Crédito.
+ name: ``FV-2-20`` (string) - Nombre de la factura que se visualiza en Siigo Nube.

## InvoiceInCreditNote (object)
+ id: ``302580df-838b-4531-b8bf-dd3c98b34059`` (string) - Identificador de la factura que se le aplicó la Nota Crédito.

## CreditNoteIn (object)
+ document (DocumentNC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Notas crédito)
+ number: 22 (number,optional) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ date: ``2015-12-15`` (string,required) - Fecha de la nota crédito, formato yyyy-MM-dd.
+ invoice:  ``302580df-838b-4531-b8bf-dd3c98b34059`` (string) - Identificador de la factura que se le aplicó la Nota Crédito
+ cost_center: 235 (number) - Centro de costos.
+ reason: 1 (enum,required) - Motivo de devolución DIAN
+ retentions (array[TaxIn]) - Retenciones que se desean asociar al producto o servicio, el campo es obligatorio según la configuración del tipo de comprobante.
+ observations : Observaciones (string) - Comentarios para agregar información a la factura.
+ stamp (StampInDian) - Campo para indicar el envío de la nota crédito electronica
+ mail (mailInCustomer) - Campo para indicar el envío de la nota crédito al cliente.
+ items (array[ItemIn],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la Nota Crédito.

## CreditNoteOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la nota crédito.
+ document (DocumentNC) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Notas crédito)
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``NC-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2020-12-22`` (string) - Fecha de la nota crédito, formato yyyy-MM-dd.
+ invoice (InvoiceOutCreditNote) - Información de la factura que se le aplicó la nota crédito
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costos.
+ currency (Currency) - Información de la moneda y tasa de cambio asociada a la nota crédito.
+ retentions (array[RetentionOutInvoice]) - Retenciones que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations : Observaciones (string) - Comentarios para agregar información a la factura.
+ stamp (StampOutDianNC) - Campo indica el envío de la nota crédito electronica.
+ mail (mailOutCustomer) - Campo  indica el envío de la nota crédito al cliente.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ metadata (Metadata) - Información acerca de la entidad.


## CreditNoteOutDev (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la nota crédito.
+ document (DocumentNC) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Notas crédito)
+ date: ``2020-12-22`` (string) - Fecha de la nota crédito, formato yyyy-MM-dd.
+ invoice (InvoiceOutCreditNote) - Información de la factura que se le aplicó la nota crédito
//+ status : pagada (string) - Estado de la nota crédito.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costos.
+ currency (Currency) - Información de la moneda y tasa de cambio asociada a la nota crédito.
+ retentions (array[RetentionOutInvoice]) - Retenciones que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations : Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ metadata (Metadata) - Información acerca de la entidad.

# CreditNotesOutList (object)
+ `pagination` (Pagination)
+ results (array[CreditNoteOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/credit-notes?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/credit-notes?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/credit-notes?page=6&page_size=25

## VoucherType (enum)
+ `DebtPayment` - Abono a deuda
+ `AdvancePayment` - Anticipo
+ `Detailed` - MiscIncome

## VoucherTypeDetailed (enum)
+ `Detailed` - Detailed

## VoucherTypeMiscIncome (enum)
+ `MiscIncome` - MiscIncome

## VoucherMovementType (enum)
+ `Debit` - Debito
+ `Credit` - Crédito

## JournalMovementTyped (enum)
+ `Debit` - Debito
+ `Credit` - Crédito

## JournalMovementTypec (enum)
+ `Credit` - Crédito
+ `Debit` - Débito

## TaxInVoucher (object)
+ id: 13156 (number) - Identificador único del impuesto.
+ base: 100000 (number) Valor Base

## TaxOutVoucher (object)
+ id: 13156 (number) - Identificador único del impuesto.
+ name: ReteIVA 15% (string) - Nombre del impuesto.
+ percentage: 15 (number) - Porcentaje del impuesto.
+ base: 100000 (number) Valor Base
+ value: 15000 (number,required) - Valor total del impuesto

## ItemVoucher (object)
+ due (Due) - Vencimiento / Factura de venta a la cuál se le va a aplicar el abono o pago
+ taxes (array[TaxInVoucher]) - Impuestos que se desean asociar al producto o servicio.
+ discounts (array[RCDiscountsIn]) - ID de los descuentos a aplicar del saldo del vencimeinto.
+ value: 119000 (number,required) - Valor total del item 

## ItemVoucherOut (object)
+ due (Due) - Vencimiento / Factura de venta a la cuál se le va a aplicar el abono o pago
+ taxes (array[TaxOutVoucher]) - Impuestos que se desean asociar al producto o servicio.
+ discounts (array[RCDiscountsOut]) - ID de los descuentos a aplicar del saldo del vencimeinto.
+ value: 119000 (number,required) - Valor total del item 

## ItemPayouts (object)
+ due (DueDetailedPayouts) - Vencimiento / Factura de conmpra a la cuál se le va a aplicar el abono o pago
+ value: 119000 (number,required) - Valor total del item 

## RCDiscountsIn (object)
+ id: 156 (number,required) - Identificador único del descuento.
+ value: 1000.0 (number,required) - Indica el valor del descuento.

## RCDiscountsOut (object)
+ id: 156 (number,required) - Identificador único del descuento.
+ name: Transporte (string) - Nombre del descuento.
+ value: 100.0 (number,required) - Indica el valor del descuento.

[...]
